*{
    margin:0;
    padding:0;
}
html,body{
    width:100%;
    height:100%;
}
.wrapper{
    width:100%;
    height:100%;
}
.wrapper .header{
    height:70px;
    background-color:#354457;
}
.wrapper .header .log{
    /* height:70px; */
    /* margin-top:15px; */
    padding-top:15px;
    padding-left:20px;
}
.wrapper .header .log img{
    width:40px;
    height:40px;
    vertical-align: middle;
    /* line-height:70px; */
    /* margin-top:15px; */
}
.wrapper .contentLeft{
    width:200px;
    height:calc(100% - 70px);
    background-color:#4d5e70;
}
.wrapper .contentLeft dl{
    /* padding:5px 0; */
    color:#fff;
}
.wrapper .contentLeft dl dt{
    padding:8px 0;
    margin-left:10px;
    cursor: pointer;
}
.wrapper .contentLeft dl dd{
    padding-left:30px;
    padding-top:8px;
    padding-bottom:8px;
    cursor: pointer;
}
.wrapper .contentLeft dl dd.active{
    background-color:#ddd;
    color:#4d5e70;
}
.wrapper .contentRight{
    position:absolute;
    top:70px;
    right:0;
    width:calc(100% - 200px);
    height:calc(100% - 70px);
    background-color:#ddd;
}
.wrapper .contentRight .student-list{
    /* display:inline-block; */
    /* display:block; */
    width:100%;
    /* text-align: center; */
    display:none;
    /* padding:5px 30px; */
}
/* .wrapper .contentRight table thead{
    width:100%;
} */
table{
    width:100%;
}
.wrapper .contentRight table tbody{
    padding:10px;
    width:100%;
    text-align: center;
}

.wrapper .contentRight table tr th{
    padding:5px 0;
}
.wrapper .contentRight table tr td{
    /* min-width: 100px; */
    background-color:#fff;
    /* padding:5px 30px; */
}
tr th,tr td{
    min-width: 100px;
}
tr{
    height:30px;
    line-height:30px;
}
td button{
    padding:3px 10px;
    border:none;
    color:#fff;
    cursor: pointer;
}
td button.change{
    background-color:#5cb85c;
}
td button.del{
    background-color:#d9534f;
}
td button.change:hover{
    background-color: #398439;
    border-color: #255625;
}
td button.del:hover{
    background-color: #c9302c;
}
.wrapper .contentRight .addList{
    /* width:100%; */
    display:none;
}
.wrapper .contentRight .addList form{
    width:400px;
    margin:50px auto;
}
.wrapper .contentRight .addList form p{
    padding:8px 0;
}
.wrapper .contentRight .addList form label{
    text-align: right;
    width:80px;
    display:inline-block;
    margin-right:10px;
}
.wrapper .contentRight .addList form p .btn{
    width:80px;
    height:30px;
    line-height:30px;
    margin-right:10px;
    cursor: pointer;
}
.model{
    position:fixed;
    top:0;
    left:0;
    right:0;
    bottom:0;
    display:none;
}
.model.show{
    display:block;
}
.model .mask{
    position:fixed;
    top:0;
    left:0;
    right:0;
    bottom:0;
    background-color: #354457;
    opacity: .5;
}
.model-content{
    position: absolute;
    top:50%;
    left:50%;
    margin-top:-225px;
    margin-left:-250px;
    width:500px;
    height:450px;
    background-color:#fff;
    padding:20px;
}
.sel{
    width:400px;
    margin:50px auto;
}
.sel input{
    width:330px;
    height: 40px;
    border:1px solid #354457;
    border-radius: 4px;
    padding-left:10px;
}
.sel p span{
    font-weight:bold;
    padding-left:20px;
}

#turnPage{
    position:absolute;
    right:50px;
}
#turnPage li{
    padding:5px 10px;
    /* border:1px solid #000; */
    display:inline-block;
    cursor: pointer;
    margin-top:50px;
    text-align: center;
}
li.cur-page{
    background-color:rgb(10, 149, 184);
}

.search{
    padding:20px 60px;
    font-size: 18px;
    font-weight: bold;
    color:seagreen;
}
#search-word{
    height: 30px;
    outline: none;
    padding-left:10px;
}
#search-submit{
    font-size:18px;
    outline: none;
    height: 34px;
    padding:4px 5px;
    /* line-height: 34px; */
    vertical-align: bottom;
}

